In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

champions = pd.read_csv("datasets/championsdata.csv")

In [2]:
champions.head()

,Year,Team,Game,Win,Home,MP,FG,FGA,FGP,TP,...,FTP,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1980,Lakers,1,1,1,240,48,89,0.539,0,...,0.867,12,31,43,30,5,9,17,24,109
1,1980,Lakers,2,0,1,240,48,95,0.505,0,...,0.667,15,37,52,32,12,7,26,27,104
2,1980,Lakers,3,1,0,240,44,92,0.478,0,...,0.767,22,34,56,20,5,5,20,25,111
3,1980,Lakers,4,0,0,240,44,93,0.473,0,...,0.737,18,31,49,23,12,6,19,22,102
4,1980,Lakers,5,1,1,240,41,91,0.451,0,...,0.788,19,37,56,28,7,6,21,27,108

In [3]:
# How often does the team with homecourt advantage win the championship?
# Calculate number of championship wins by home team
home = 0
away = 0
year = 1980 # start year
for index, row in champions.iterrows():
    if year == row['Year']:
        if champions.loc[index]['Home'] == 1:
            home += 1
        else:
            away += 1
        year += 1